# Большая телекоммуникационная компания

Автор - Кудинов Иван

Шаг 1.Подготовка данных для дашборда.

In [1]:
import os
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db_local = 'telecomm_csi.db'
path_to_db_platform = '/datasets/telecomm_csi.db'
path_to_db = None

if os.path.exists(path_to_db_local):
    path_to_db = path_to_db_local
elif os.path.exists(path_to_db_platform):
    path_to_db = path_to_db_platform
else:
    raise Exception('Файл с базой данных SQLite не найден!')

if path_to_db:
    engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

In [3]:
query = """
SELECT *
FROM user
"""

In [4]:
user = pd.read_sql(query, engine)
user.head(10)

,user_id,lt_day,age,gender_segment,os_name,cpe_type_name,location_id,age_gr_id,tr_gr_id,lt_gr_id,nps_score
0,A001A2,2320,45.0,1.0,ANDROID,SMARTPHONE,55,5,5,8,10
1,A001WF,2344,53.0,0.0,ANDROID,SMARTPHONE,21,5,5,8,10
2,A003Q7,467,57.0,0.0,ANDROID,SMARTPHONE,28,6,9,6,10
3,A004TB,4190,44.0,1.0,IOS,SMARTPHONE,38,4,4,8,10
4,A004XT,1163,24.0,0.0,ANDROID,SMARTPHONE,39,2,6,8,10
5,A005O0,5501,42.0,1.0,ANDROID,SMARTPHONE,34,4,6,8,6
6,A0061R,1236,45.0,0.0,ANDROID,SMARTPHONE,55,5,7,8,10
7,A009KS,313,35.0,0.0,ANDROID,SMARTPHONE,28,4,14,5,10
8,A00AES,3238,36.0,1.0,ANDROID,SMARTPHONE,41,4,5,8,10
9,A00F70,4479,54.0,1.0,ANDROID,SMARTPHONE,9,5,8,8,9

In [5]:
query = """
SELECT *
FROM location
"""
location = pd.read_sql(query, engine)
location.head(10)

   location_id         city country
0            1  Архангельск  Россия
1            2    Астрахань  Россия
2            3     Балашиха  Россия
3            4      Барнаул  Россия
4            5     Белгород  Россия
5            6       Брянск  Россия
6            7  Владивосток  Россия
7            8     Владимир  Россия
8            9    Волгоград  Россия
9           10     Волжский  Россия

In [6]:
query = """
SELECT *
FROM age_segment
"""
age_segment = pd.read_sql(query, engine)
age_segment.head(10)

   age_gr_id  bucket_min  bucket_max     title
0          1         NaN        15.0  01 до 16
1          2        16.0        24.0  02 16-24
2          3        25.0        34.0  03 25-34
3          4        35.0        44.0  04 35-44
4          5        45.0        54.0  05 45-54
5          6        55.0        64.0  06 55-64
6          7        66.0         NaN   07 66 +
7          8         NaN         NaN    08 n/a

In [7]:
query = """
SELECT *
FROM traffic_segment
"""
traffic_segment = pd.read_sql(query, engine)
traffic_segment.head(10)

   tr_gr_id  bucket_min  bucket_max        title
0         1        0.00        0.00         01 0
1         2        0.00        0.01    01 0-0.01
2         3        0.01        0.10  02 0.01-0.1
3         4        0.10        1.00     03 0.1-1
4         5        1.00        5.00       04 1-5
5         6        5.00       10.00      05 5-10
6         7       10.00       15.00     06 10-15
7         8       15.00       20.00     07 15-20
8         9       20.00       25.00     08 20-25
9        10       25.00       30.00     09 25-30

In [8]:
query = """
SELECT *
FROM lifetime_segment
"""
lifetime_segment = pd.read_sql(query, engine)
lifetime_segment.head(10)

   lt_gr_id  bucket_min  bucket_max     title
0         1         1.0         1.0      01 1
1         2         2.0         2.0      02 2
2         3         3.0         3.0      03 3
3         4         4.0         6.0    04 4-6
4         5         7.0        12.0   05 7-12
5         6        13.0        24.0  06 13-24
6         7        25.0        36.0  07 25-36
7         8        36.0         NaN    08 36+

Выгрузим записи, в которых есть пропуски. 
Начнем с таблицы user.

In [9]:
query = """
SELECT *
FROM user
WHERE   user_id IS NULL OR
        lt_day IS NULL OR
        age IS NULL OR
        gender_segment IS NULL OR
        os_name IS NULL OR
        cpe_type_name IS NULL OR
        location_id IS NULL OR
        age_gr_id IS NULL OR
        tr_gr_id IS NULL OR
        lt_gr_id IS NULL OR
        nps_score IS NULL;
"""
user = pd.read_sql(query, engine)
user

,user_id,lt_day,age,gender_segment,os_name,cpe_type_name,location_id,age_gr_id,tr_gr_id,lt_gr_id,nps_score
0,A1E59W,4055,NaN,NaN,ANDROID,SMARTPHONE,13,8,5,8,1
1,A1S6VL,335,40.0,NaN,ANDROID,TABLET,14,4,8,5,8
2,A28ZDT,4243,NaN,NaN,ANDROID,SMARTPHONE,56,8,5,8,5
3,A2GLPQ,2354,NaN,NaN,ANDROID,SMARTPHONE,16,8,7,8,1
4,A3XMNW,41,32.0,NaN,ANDROID,SMARTPHONE,41,3,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...
1336,ZWQJRW,220,NaN,0.0,ANDROID,SMARTPHONE,40,8,4,5,1
1337,ZWY9NM,49,35.0,NaN,ANDROID,SMARTPHONE,27,4,5,2,10
1338,ZXK9AK,3550,NaN,NaN,ANDROID,SMARTPHONE,50,8,5,8,4
1339,ZZRS2G,345,NaN,0.0,ANDROID,SMARTPHONE,28,8,5,5,5
1340,ZZXH2T,268,NaN,NaN,ANDROID,SMARTPHONE,59,8,8,5,1

В таблице user 1341 пропуск.

Найдем общее количество

In [10]:
query = """
SELECT COUNT(*)
FROM user
"""
user = pd.read_sql(query, engine)
user

   COUNT(*)
0    502493

Пропуски составляют 0,27% от общего количества данных.

Проверим, что все значения в nps_score находятся в диапазоне от 1 до 10

In [11]:
query = """
SELECT COUNT(*)
FROM user
WHERE nps_score BETWEEN 1 AND 10
"""
user = pd.read_sql(query, engine)
user

   COUNT(*)
0    502493

Количество строк совпадает, с данными все ок.

Проверим столбец age на возможное наличие отрицательных значений, а заодно проверим количество строк и максимальное значение

In [12]:
query = """
SELECT COUNT(age),
       MIN(age),
       MAX(age)
FROM user
"""
user = pd.read_sql(query, engine)
user

   COUNT(age)  MIN(age)  MAX(age)
0      501939      10.0      89.0

Минимальный возраст клиента в опросе 10 лет, максимальный 89. Отрицательных значений возраста нет, но в данных есть пропуски.

Продолжим проверять пропуски в остальных таблицах.

In [13]:
query = """
SELECT *
FROM location
WHERE   location_id IS NULL OR
        city IS NULL OR
        country IS NULL;
"""
location = pd.read_sql(query, engine)
location

Empty DataFrame
Columns: [location_id, city, country]
Index: []

В таблице location нет пропусков

В поле city проверим уникальные значения городов и стран:

In [14]:
query = """
SELECT DISTINCT city,
                country
FROM location
"""
user = pd.read_sql(query, engine)
user

           city country
0   Архангельск  Россия
1     Астрахань  Россия
2      Балашиха  Россия
3       Барнаул  Россия
4      Белгород  Россия
..          ...     ...
57    Челябинск  Россия
58    Череповец  Россия
59         Чита  Россия
60       Якутск  Россия
61    Ярославль  Россия

[62 rows x 2 columns]

Продолжим проверять пропуски в оставшихся таблицах.

In [15]:
query = """
SELECT *
FROM age_segment
WHERE   age_gr_id IS NULL OR
        bucket_min IS NULL OR
        bucket_max IS NULL OR
        title IS NULL;
"""
age_segment = pd.read_sql(query, engine)
age_segment

   age_gr_id  bucket_min  bucket_max     title
0          1         NaN        15.0  01 до 16
1          7        66.0         NaN   07 66 +
2          8         NaN         NaN    08 n/a

В таблице age_segment 3 пропуска.

In [16]:
query = """
SELECT *
FROM traffic_segment
WHERE   tr_gr_id IS NULL OR
        bucket_min IS NULL OR
        bucket_max IS NULL OR
        title IS NULL;
"""
traffic_segment = pd.read_sql(query, engine)
traffic_segment

   tr_gr_id  bucket_min bucket_max    title
0        25       100.0       None  24 100+

В таблице traffic_segment всего 1 пропуск.

In [17]:
query = """
SELECT *
FROM lifetime_segment
WHERE   lt_gr_id IS NULL OR
        bucket_min IS NULL OR
        bucket_max IS NULL OR
        title IS NULL;
"""
lifetime_segment = pd.read_sql(query, engine)
lifetime_segment

   lt_gr_id  bucket_min bucket_max   title
0         8        36.0       None  08 36+

В таблице traffic_segment также 1 пропуск.

Проверив пропуски, перейдем к объединению и сохранению файла.

* Первым условием запишим деление клиентов на "старый клиент" и "новый клиент". Для этого используем условную конструкцию с оператором CASE. Клиента считают новым, если количество дней «жизни» составляет не более 365 дней.
* Пол клиента из условий задачи определяется как: 1 – женщина, 0 – мужчина. 
* Методом substr() найдем указанное количество символов из строки, начиная с указанной позиции. 
* Чтобы оценить результаты опроса, оценки поделим на три группы:
    * 9-10 баллов — «cторонники» (англ. promoters);
    * 7-8 баллов — «нейтралы» (англ. passives);
    * 0-6 баллов — «критики» (англ. detractors).
* Объединим таблицы используя оператор INNER JOIN.


Во время работы с файлом в Tableu, нашел города написанные слитно. Решил сразу пересохранить файл и исправить название городов, пока не сделал много презентаций и дашбордов.

In [18]:
query = """
    SELECT  user_id,
            lt_day,
            CASE
               WHEN lt_day <= 365 THEN 'новый клиент'
               WHEN lt_day > 365 THEN 'старый клиент'
            END AS is_new,
            age,
            CASE
               WHEN gender_segment = 0 THEN 'мужчина'
               WHEN gender_segment = 1 THEN 'женщина'
               ELSE 'неопределенный'
            END AS gender_segment,
            os_name,
            cpe_type_name,
            l.country,
            l.city,
            SUBSTR(a.title, 4) AS age_segment,
            SUBSTR(t.title, 4) AS traffic_segment,
            SUBSTR(ls.title, 4) AS lifetime_segment,
            nps_score,
            CASE
               WHEN 9 <= nps_score AND nps_score <= 10 THEN 'cторонники'
               WHEN 7 <= nps_score AND nps_score <= 8 THEN 'нейтралы'
               WHEN 0 <= nps_score AND nps_score <= 6 THEN 'критики'
            END AS nps_group
    FROM user AS u
    INNER JOIN (
            SELECT location_id, 
                CASE
                    WHEN city = 'СанктПетербург' THEN 'Санкт-Петербург'
                    WHEN city = 'НижнийНовгород' THEN 'Нижний Новгород'
                    WHEN city = 'РостовнаДону' THEN 'Ростов-на-Дону'
                    WHEN city = 'УланУдэ' THEN 'Улан-Удэ'
                    WHEN city = 'НижнийТагил' THEN 'Нижний Тагил'
                    WHEN city = 'НабережныеЧелны' THEN 'Набережные Челны'
                    ELSE city 
                END AS city, country
            FROM location
            ) AS l ON l.location_id = u.location_id
    INNER JOIN age_segment AS a ON a.age_gr_id = u.age_gr_id
    INNER JOIN traffic_segment AS t ON t.tr_gr_id = u.tr_gr_id
    INNER JOIN lifetime_segment AS ls ON ls.lt_gr_id = u.lt_gr_id;
"""
df = pd.read_sql(query, engine)
df

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,старый клиент,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,cторонники
1,A001WF,2344,старый клиент,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,cторонники
2,A003Q7,467,старый клиент,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,cторонники
3,A004TB,4190,старый клиент,44.0,женщина,IOS,SMARTPHONE,Россия,Ростов-на-Дону,35-44,0.1-1,36+,10,cторонники
4,A004XT,1163,старый клиент,24.0,мужчина,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,cторонники
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502488,ZZZKLD,1249,старый клиент,54.0,женщина,ANDROID,SMARTPHONE,Россия,Москва,45-54,1-5,36+,5,критики
502489,ZZZLWY,129,новый клиент,31.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,25-34,1-5,4-6,8,нейтралы
502490,ZZZQ5F,522,старый клиент,36.0,мужчина,ANDROID,SMARTPHONE,Россия,Сургут,35-44,25-30,13-24,10,cторонники
502491,ZZZQ8E,2936,старый клиент,37.0,женщина,ANDROID,SMARTPHONE,Россия,Улан-Удэ,35-44,65-70,36+,9,cторонники
502492,ZZZYH0,2471,старый клиент,37.0,мужчина,IOS,SMARTPHONE,Россия,Самара,35-44,10-15,36+,2,критики

Общее количество строк не изменилось.

In [19]:
df.to_csv('telecomm_csi_tableau.csv', index=False)
df

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,старый клиент,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,cторонники
1,A001WF,2344,старый клиент,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,cторонники
2,A003Q7,467,старый клиент,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,cторонники
3,A004TB,4190,старый клиент,44.0,женщина,IOS,SMARTPHONE,Россия,Ростов-на-Дону,35-44,0.1-1,36+,10,cторонники
4,A004XT,1163,старый клиент,24.0,мужчина,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,cторонники
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502488,ZZZKLD,1249,старый клиент,54.0,женщина,ANDROID,SMARTPHONE,Россия,Москва,45-54,1-5,36+,5,критики
502489,ZZZLWY,129,новый клиент,31.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,25-34,1-5,4-6,8,нейтралы
502490,ZZZQ5F,522,старый клиент,36.0,мужчина,ANDROID,SMARTPHONE,Россия,Сургут,35-44,25-30,13-24,10,cторонники
502491,ZZZQ8E,2936,старый клиент,37.0,женщина,ANDROID,SMARTPHONE,Россия,Улан-Удэ,35-44,65-70,36+,9,cторонники
502492,ZZZYH0,2471,старый клиент,37.0,мужчина,IOS,SMARTPHONE,Россия,Самара,35-44,10-15,36+,2,критики

Добрый день! Направляю проектную работу: Сборный проект 2. Ссылка на дашборд и презентацию: https://public.tableau.com/views/DA42_Kudinov_SbP2_V3/NPS_7?:language=en-US&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link